footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: brown;
}

footer p.soft{
    font-size: 0.85em;
    font-weight: lighter;
}