<div class="container">
  <p>
  	|
    <a href="https://twitter.com/kandikoder" title="Kenan tweets" target="_blank">@kandikoder</a> |
    <a href="https://github.com/kfranklin93"  title="Kenans GitHub code" target="_blank">Kenan's GitHub</a>
	| &copy;2016 |
    <a href="https://twitter.com/michaelgokey" title="Michaels tweets" target="_blank">@MichaelGokey</a> |
    <a href="https://github.com/gokemon"  title="Michaels GitHub code" target="_blank">Gokemon's GitHub</a>
	|
  </p>

  <p class="soft">This theme features stock photos by <a href="http://gratisography.com/" target="_blank">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/" target="_blank">Snazzy Maps</a>.</p>
</div>


