  <!-- <header class="hero-unit" id="banner">
    <div class="container">
      <h1>'Allo, Hello and Hola!</h1>
      <p class="lead">sample paragraph here</p>
      <img src="assets/images/skull-and-bones.png" alt="I'm the Gokester">
    </div>
  </header> -->


    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Life Lessons</h2>
                <p>Life Lessons is an ASL community created by Life Lessons. It can be yours right now, simply download the apps on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The apps is a free, and you can use it for any purpose, personal or learning.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Life Lessons includes full Sign Language along with basics, and comprehension for easy learning.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sign Up</h2>
                    <p>You can sign up for getting ASL Lessons for free at Life Lessons.</p>
                    <a href="/signup" class="btn btn-default btn-lg">Sign Up</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Life Lessons</h2>
                <p>Feel free to email us to provide some feedback on our page, give us suggestions for new apps, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@lifelessons.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/cutieartist89" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/annierai" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>  --> <!--  class="container" -->
